### 系统环境 ####################################
DOCKER_HOST_IP=10.8.8.8
WORKSPACE_SSH_PORT=2222
SD_HTTP_FOREIGN_PORT=9081
SD_REDIS=6389
DATA_SAVE_PATH=../
WORKSPACE=../

### 指定php版本 ################################
#可选版本 71 70 56 

PHP_VERSION=71

### 系统工具 ###################################
INSTALL_SYSTOOLS=true

### php-fpm 71 #################################
PHP_FPM_INSTALL_PHP=true
PHP_FPM_INSTALL_LIBZIP=true
PHP_FPM_INSTALL_HIREDIS=true
PHP_FPM_INSTALL_COMPOSER=true
PHP_FPM_INSTALL_INOTIFY=true
PHP_FPM_INSTALL_ZIPARCHIVE=true
PHP_FPM_INSTALL_PHPREDIS=true
PHP_FPM_INSTALL_SWOOLE=true
